bandit==1.7.4
bleach==4.1.0
daphne==3.0.2
Django==3.2.12
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-spectacular==0.22.0
Pillow==9.0.1
pre-commit==2.18.1
psycopg2==2.9.3
python-dotenv==0.20.0
requests==2.27.1
