asgiref==3.5.0
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
bandit==1.7.4
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==36.0.2
daphne==3.0.2
distlib==0.3.4
Django==3.2.12
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-spectacular==0.22.0
filelock==3.6.0
gitdb==4.0.9
GitPython==3.1.27
hyperlink==21.0.0
identify==2.4.12
idna==3.3
incremental==21.3.0
inflection==0.5.1
jsonschema==4.4.0
nodeenv==1.6.0
packaging==21.3
pbr==5.8.1
Pillow==9.0.1
platformdirs==2.5.1
pre-commit==2.18.1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
service-identity==21.1.0
six==1.16.0
smmap==5.0.0
sqlparse==0.4.2
stevedore==3.5.0
toml==0.10.2
Twisted==22.4.0
txaio==22.2.1
typing-extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.0
webencodings==0.5.1
zope.interface==5.4.0
